@import '../../../../styles/mixins';
@import '../../../../styles/breackpoints';

.container {
  max-width: $bp-limit;
  margin: auto;

  &.grid {
    display: grid;
    align-items: center;
    justify-items: center;

    // Aplicando grid para telas maiores
    @include applyGridColumns(3);

    // Ajustando para telas médias
    @media (max-width: $bp-limit) {
      @include applyGridColumns(2);
      width: fit-content;
    }

    // Ajustando para telas móveis
    @media (max-width: $bp-mobile) {
      @include applyGridColumns(1);
    }
  }
}
