@import '../../../../styles/mixins';
@import '../../../../styles/breackpoints';

.container {
  max-width: $bp-limit;
  margin: auto;

  &.grid {
    display: grid;
    align-items: center;
    justify-items: center;

    @include applyGridColumns(3);

    @media (max-width: $bp-limit) {
      @include applyGridColumns(2);
      width: fit-content;
    }

    @media (max-width: $bp-mobile) {
      @include applyGridColumns(1);
    }
  }
}
