@import '../../../../styles/breackpoints';

main {
  position: relative;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Três colunas iguais

  .pokeball1,
  .pokeball2,
  .pokeball3 {
    position: absolute; // Mantém o posicionamento absoluto
    width: 410px; // Tamanho original
    height: 400px; // Tamanho original
    opacity: 1;

    img {
      width: 100%;
      height: auto;
      filter: brightness(0.9);
    }
  }

  .pokeball1 {
    top: -510px; // Altura original
    left: -136px; // Posição original
    z-index: -1;
  }

  .pokeball2 {
    top: -690px; // Altura original
    left: 790px; // Posição original
    z-index: -1;
  }

  .pokeball3 {
    top: -130px; // Altura original
    left: 1300px; // Posição original
    z-index: -4;
  }

  /* Ajustes responsivos */
  @media (max-width: $bp-tablet) {
    .pokeball1,
    .pokeball2,
    .pokeball3 {
      width: 250px; // Ajustando tamanho para tablet
      height: 240px; // Ajustando altura para tablet
      opacity: 0.8;
      filter: brightness(0);
      filter: contrast(0.5);
    }

    .pokeball1 {
      top: -300px;
      left: -50px;
    }

    .pokeball2 {
      top: -400px;
      left: 500px;
    }

    .pokeball3 {
      top: 100px;
      left: 700px;
    }
  }

  @media (max-width: $bp-mobile) {
    .pokeball1,
    .pokeball2,
    .pokeball3 {
      width: 140px; // Tamanho reduzido para mobile
      height: 130px; // Altura reduzida para mobile
      opacity: 0.7;
    }

    .pokeball1 {
      top: -330px;
      left: -30px;
    }

    .pokeball2 {
      top: -390px;
      left: 190px;
    }

    .pokeball3 {
      top: -100px;
      left: 290px;
    }
  }
}
