@import '../../../styles/breackpoints';
@import '../../../styles/themes';

.search-bar {
  position: relative;
  width: 1217px;
  height: 73px;
  top: 40px;
  left: 115px;
  border-radius: 10px;
  display: flex;
  gap: 0;
  opacity: 1;
  margin-bottom: 100px;

  // Adicionando responsividade
  @media (max-width: $bp-mobile) {
    width: 90%; // Ajusta a largura para 90% em telas pequenas
    left: 5%; // Centraliza a barra na tela
    top: 20px; // Ajusta a posição do topo
    margin-bottom: 50px; // Reduz a margem inferior
  }
}

.search-bar input {
  flex: 1;
  height: 80%;
  border-radius: 10px;
  border: 0.001px solid #fffcfc;
  box-shadow: 0px 4px 18.5px 2px #00000040;
  margin-right: 1rem;
  padding: 1rem;
  color: #c9b3b3;

  @media (max-width: $bp-mobile) {
    padding: 0.8rem; // Reduz o padding em telas pequenas
  }
}

.btn {
  width: 81px;
  height: 73px;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--bg-btn-search);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $bp-mobile) {
    width: 50px; // Ajusta a largura do botão
    height: 59px;
  }
}

.btn img {
  width: 20px;
  height: 20px;

  @media (max-width: $bp-mobile) {
    width: 18px; // Reduz o tamanho da imagem
    height: 18px;
  }
}

.btn:hover img {
  opacity: 0.8;
}
