@import '../../../styles/breackpoints';

.container_main {
  padding: 3rem;

  .img {
    width: 192px;
  }

  @media (max-width: $bp-mobile) {
    padding: 2rem;

    .img {
      width: 106px;
    }
  }
}

.bigger-logo {
  position: relative;

  .bigger-img {
    position: relative;
    margin-left: 500px;
  }

  @media (max-width: $bp-mobile) {
    margin-left: 70px;
    margin-top: 20px;

    .bigger-img {
      margin-left: 0;
      width: 192px;
      height: auto;
    }
  }
}
