<!-- eslint-disable @angular-eslint/template/elements-content -->
<article class="card">
  <div class="container">
    <div class="container">
      <span *ngFor="let type of listOfPokemonTypes" [ngStyle]="{ 'background-color': 'var(--' + type + ')' }" class="info_type">
        {{ type | titlecase }}
      </span>
    </div>
    <span class="number">{{ formattedPosNumber() }}</span>
  </div>

  <div class="container">
    <div class="content">
      <h2>{{ namePokemon | titlecase }}</h2>
      <p>{{ description }}</p>
      <a href="/details">
        <button (onClick)="(['/details', namePokemon])">Know More</button>
      </a>
    </div>
    <img class="img" [src]="imageURL" alt="Imagem do Pokémon" />
  </div>
</article>
